@page "/counter"
@using TransGo_Alpha.Shared
@inject HttpClient Http

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    User userinfo = new User();

    async void IncrementCount()
    {
        User user = new User();
        user.Id = "0";
        user.Email = "test@aol.com";
        user.Firstname = "test";
        user.Lastname = "test";
        user.Password = "password";
        user.School = "Harvard";
        user.Studentid = "000111";

        await Http.PostAsJsonAsync("api/users/adduser", user);

        currentCount++;
    }

    async void Login()
    {
        //userinfo = await Http.GetFromJsonAsync<User>($"api/users/{userlogin}");
    }

}
